<section class="section-header">
  <header class="flex justify-between w-5/6 items-center pt-10 pb-3">
    <div class="flex">
      <a href="#home">
        <img src="/assets/Logo.svg" alt="Logo">
      </a>
    </div>
    <div>
      <ul class="flex gap-10">
        <button>
          <a href="#home">Home</a>
        </button>
        <a href="#shop">Shop</a>
        <a href="#plantcare">Plant Care</a>
        <a href="#about">About</a>
      </ul>
    </div>
    <div class="flex gap-6 items-center">
      <div>
        <a href="#">
          <img src="/assets/Vector.svg" alt="Logo">
        </a>
      </div>
      <div>
        <a href="#">
          <img src="/assets/backet.svg" alt="Logo">
        </a>
      </div>
      <button class="btn-login">
        <img src="/assets/logout.svg" alt="Logout">
        Login</button>
    </div>
  </header>
</section>
