<section class="section-footer">
  <footer class="footer flex justify-between w-5/6 items-center">
    <div class="footer-up footer flex justify-between w-5/6 items-center">
      <div>
        <img src="/assets/Logo.svg" alt="Logo">
      </div>
      <div class="flex items-center gap-3">
        <img src="/assets/location.svg" alt="Logo" width="20" height="20">
        <a href="#">70 West Buckingham Ave.<br> Farmingade, NY 11735</a>
      </div>
      <div class="flex items-center gap-3">
        <img src="/assets/message.svg" alt="Logo" width="20" height="20">
        <a href="#">contact&commat;greenshop.com</a>
      </div>
      <div class="flex items-center gap-3">
        <img src="/assets/calling.svg" alt="Logo" width="20" height="20">
        <a href="#">+88 01911 717 490</a>
      </div>
    </div>
    <div></div>
    <div class="flex py-3">© 2024 GreenShop. All Rights Reserved.</div>
  </footer>
</section>
